@model WebApplication.Models.Role
@{
    ViewData["Title"] = "Информация";
}

<nav class="nav-container white">
    <div class="nav-wrapper">
        <div class="col s12">
            <a asp-controller="Roles" asp-action="Index" asp-area="Administration" class="breadcrumb teal-text">Роли</a>
            <a class="breadcrumb grey-text breadcrumb-child active">@Model.Name</a>
        </div>
    </div>
</nav>

<div class="crud-container white z-depth-1 s1">
    <h4 class="teal-text">@ViewData["Title"]</h4>
    <hr class="hr-crud-split" />
    <dl class="dl-horizontal">
        <dt class="details-dt">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="details-dt">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

