@model WebApplication.Models.Vote
@{
    ViewData["Title"] = "Удаление";
}

<nav class="nav-container white">
    <div class="nav-wrapper">
        <div class="col s12">
            <a asp-controller="Votes" asp-action="Index" asp-area="Administration" class="breadcrumb teal-text">Голоса</a>
            <a class="breadcrumb grey-text breadcrumb-child active">@ViewData["Title"]</a>
        </div>
    </div>
</nav>

<div class="crud-container white z-depth-1 s1">
    <h4 class="teal-text">Вы уверены что хотите это удалить?</h4>
    <hr class="hr-crud-split" />
    <dl class="dl-horizontal">
        <dt class="details-dt">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="details-dt">
            @Html.DisplayNameFor(model => model.User.Login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Login)
        </dd>
        <dt class="details-dt">
            @Html.DisplayNameFor(model => model.Feedback.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Feedback.Name)
        </dd>
        <dt class="details-dt">
            @Html.DisplayNameFor(model => model.RatingGiven)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RatingGiven)
        </dd>
        <dt class="details-dt">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class="details-dt">
            @Html.DisplayNameFor(model => model.VoteReturned)
        </dt>
        <dd>
            @Model.VoteReturned.ToString()
        </dd>
    </dl>
    <hr class="hr-crud-split" />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <center>
            <button type="submit" class="btn btn-large waves-effect waves-light teal crud-command-button" asp-controller="Votes" asp-area="Administration" asp-action="Delete">Удалить</button>
        </center>
    </form>
</div>